* {
  padding: 0;
  margin: 0;
}

body {
  background: #282a36;
  color: #f8f8f2;
  margin: 12px;
}

.container {
  display: flex;
}

.btn {
  display       : inline-block;
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 5px;     /* 余白       */
  margin-left   : 5px;
  background    : #bd93f9;     /* 背景色     */
  color         : #f8f8f2;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #bd93f9;    /* 枠の指定 */
}
.btn:hover {
  color         : #bd93f9;     /* 背景色     */
  background    : #f8f8f2;     /* 文字色     */
}

.ipt {
  display       : inline-block;
  font-size     : 12pt;        /* 文字サイズ */
  padding       : 2px 2px;     /* 余白       */
  background    : #bd93f9;     /* 背景色     */
  background    : #f8f8f2;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  border        : 1px solid #bd93f9;    /* 枠の指定 */
}
